@import '../../app/styles/variables';

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    .bg {
        opacity: 0;
        transition: opacity 1s ease-in-out 0.5s;
        will-change: opacity;
    
        &.visible {
            opacity: 1;
        }
    }

    .text {
        position: absolute;
        width: 50%;
        max-height: 100%;
        top: 2rem;
        right: 8rem;
        text-align: left;

        opacity: 0;
        transform: translateX(15rem);
        transition: transform 1s ease-in-out 0.5s, opacity 1s ease-in-out 0.5s;
        will-change: opacity, transform;

        &.visible {
            transform: translateX(0);
            opacity: 1;
        }

        .title {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 5rem;

            h2 {
                width: 80%;
            }

            h3 {
                color: $tertiary;
                font-size: 2rem;
                font-weight: 600;
                margin-top: 1rem;
            }
        }

        p {
            color: $background;
            font-weight: 400;
            text-align: justify;
        }
    }
    @media (max-width: 768px) {
        display: none;
    }
}