@import '../../app/styles/variables';

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    img {
        opacity: 0;
        transition: opacity 1s ease-in-out 0.5s;
        will-change: opacity;
    
        &.visible {
            opacity: 1;
        }
    }

    h2 {
        position: absolute;
        max-width: 60%;
        left: 15rem;
        top: 10rem;
        text-transform: uppercase;
        font-size: 10rem;
        font-weight: 800;

        opacity: 0;
        transform: translateX(-15rem);
        transition: transform 1s ease-in-out 0.5s, opacity 1s ease-in-out 0.5s;
        will-change: opacity, transform;

        &.visible {
            transform: translateX(0); 
            opacity: 1;
        }

        span {
            text-shadow: rgba(212,160,76,1) 0px 0px 15px;

            filter: brightness(1.5);
        }
    }

    @media (max-width: 768px) {
        h2 {
            top: 1rem;
            left: 1rem;
            font-size: 3rem;
            max-width: 90vw;
        }
    }
}