@import '../../app/styles/variables';

.container {
    position: relative;
    width: 100%;
    // background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='30' patternTransform='scale(4) rotate(155)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(37, 61.00%, 56.00%, 1)'/><path d='M0 22.5h30v15H0zm15-15h30v15H15m-30-15h30v15h-30zm15-15h30v15H0z'  stroke-width='0.5' stroke='hsla(37.35, 89.34%, 33.13%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-16,-36)' fill='url(%23a)'/></svg>");

    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: inherit;
    //     /* Usa a mesma imagem do background */
    //     filter: blur(3px);
    //     /* Reduz o brilho (simulando opacidade) */
    //     z-index: 0;
    //     // transition: filter 1s ease-out;
    //     // opacity: 0;
    //     /* Fica atrás do conteúdo */
    // }

    // min-height: 100vh;
    // padding: 10rem;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    // place-items: center;
    // gap: 5rem;
    // position: relative;
    // // Adicionando transição para a animação dos cards
    // opacity: 0;
    // transform: translateY(50px);
    // transition: opacity 1s ease, transform 1s ease;

    // &.visible {
    //     opacity: 1;
    //     transform: translateY(0);
    // }

    .content {
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: 1920px;
        padding: 3rem;
        display: flex;
        justify-content: space-between;
        background: $gray2;
        // grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        // place-items: center;
        // gap: 2rem;
        // Adicionando transição para a animação dos cards
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 1s ease, transform 1s ease;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: inherit;
            /* Usa a mesma imagem do background */
            filter: brightness(1.5);
            /* Reduz o brilho (simulando opacidade) */
            z-index: 0;
            // transition: filter 1s ease-out;
            // opacity: 0;
            /* Fica atrás do conteúdo */
        }

        &.visible {
            opacity: 1;
            transform: translateY(0);
        }

        .card {
            opacity: 0;
            transform: translateY(30px); // Inicia um pouco abaixo
            transition: opacity 0.5s ease, transform 0.5s ease;

            &.visible {
                opacity: 1;
                transform: translateY(0); // Move para a posição final
            }
        }
    }


    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        // grid-template-columns: 1fr; // Exibir em uma coluna apenas
        // grid-template-rows: repeat(4, 1fr); // Criar 4 linhas para os cards
        .content {
            width: 100%;
            flex-direction: column;
            padding: 3rem 2rem;
            gap: 2rem;
        }
        .card {
            max-width: 90vw;
        }
    }
}