@import '../../app/styles/variables';

.container {
    position: relative;
    width: 100%;

    .content {
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: 1920px;
        padding: 3rem;
        display: flex;
        justify-content: space-between;
        background: $gray2;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 1s ease, transform 1s ease;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: inherit;
            filter: brightness(1.5);
            z-index: 0;
        }

        &.visible {
            opacity: 1;
            transform: translateY(0);
        }

        .card {
            opacity: 0;
            transform: translateY(30px);
            transition: opacity 0.5s ease, transform 0.5s ease;

            &.visible {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }


    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        .content {
            width: 100%;
            flex-direction: column;
            padding: 3rem 2rem;
            gap: 2rem;
        }
        .card {
            max-width: 90vw;
        }
    }
}