@import '../styles/variables';

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .title {
        position: fixed;
        z-index: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 7rem;
        background: $background;

        h1 {
            align-self: center;
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 800;
            color: $yellow;
        }
    }

    .gallery {
        width: 100%;
        height: 100%;
        margin-top: 12rem;
        padding: 2rem;

        .imageWrapper {
            border-radius: .5rem;
            cursor: pointer;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                filter: brightness(.8);
                transition: transform 0.3s ease, filter .2s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                    filter: brightness(1);
                }
            }
        }
    }
}

.modalContent {
    position: relative;
    z-index: 999;
    margin: 0 auto;
    background: transparent;
    padding: 2rem;
    border-radius: 10px;
    outline: none;

    .modalImage {
        margin: 0 auto;
        height: 100vh;
        max-height: 90vh;
        width: 100%;
        max-width: 90%;
        object-fit: contain;
    }
}

.modalOverlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeButton,
.prevBtn,
.nextBtn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    opacity: .8;
    transition: filter .2s, opacity .2s;

    &:hover {
        opacity: 1;
        filter: brightness(1.5);
    }
}

.prevBtn,
.nextBtn {
    z-index: 999;
    top: calc(50% - 50px);
    color: $gold;
    background: none;
}

.prevBtn {
    left: 0rem;
}

.nextBtn {
    right: 0rem;
}

.closeButton {
    top: 2rem;
    right: 2rem;
    height: 4rem;
    width: 4rem;
    background-color: $gold;
    color: #fff;
    border: none;
    padding: 1rem;
}

.disable {
    display: none;
}