@import '../../app/styles/variables';

.container {
    position: relative;
    width: 35rem;
    height: 20rem;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
    border-radius: 5px;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--background-image) top/cover no-repeat;
        filter: brightness(80%);
        z-index: -1;
        transition: transform 0.5s ease-in-out;
    }

    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: .5rem;

        ul {
            width: 100%;
            display: flex;
            gap: 1.5rem;

            li {
                font-size: 1rem;
                font-weight: 600;
            }
        }

        h2 {
            font-size: 2.5rem;
            font-weight: 800;
            text-transform: uppercase;
        }

        span {
            height: 1rem;
            width: 5rem;
            background-color: $secondary;
            transition: .3s;
        }
    }

    &:hover {
        cursor: pointer;

        &::before {
            transform: scale(1.2);
        }

        div {
            span {
                width: 10rem;
            }
        }
    }

    @media (max-width: 768px) {
        width: 90vw;
        height: 20rem;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        align-self: center;

        div {
            ul {
                gap: 1rem;

                li {
                    font-size: 0.875rem;
                }
            }

            h2 {
                font-size: 2rem;
            }

            span {
                width: 7rem;
            }
        }

        &:hover div span {
            width: 8rem;
        }
    }
}